# Dependências
node_modules

# Build
dist
dist-ssr

# Variáveis de ambiente (nunca commitar)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema
.DS_Store
Thumbs.db
